html, body 
{
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: HandwrittenFont;

}
h1,h2,h3
{
    margin: 0;
}
h2
{
    text-align: center;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px black;
    color: white;
}
.WelcomePage, .Menu
{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/imgs/coffebg2.jpg);
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;

}

.quoteContainer
{
    position: relative;
    top: 35%;
    display: block;
}
.quote
{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 50%;
    color: white;
}

.quote blockquote
{
    position: relative;
    vertical-align: middle;
    top: 25%;
    font-size: 35px;
    margin: 0;
}

.quote cite
{
    position: relative;
    margin: 0;
    top: 50%;
}

.Menu
{
    background-image: url(/imgs/wood.jpg);
}

.Menu,ul
{
    list-style-type: none;
    list-style: none;
    margin: 0;
}
#menuList
{
    position: relative;
    top: 8%;
}

#menuList li
{
    display: inline-block;
    margin: 5%;
}
.menuItem 
{
    max-width: 240px;
    height: auto;
    padding: 25px;
    color: Black;
    background-color: rgba(255, 255, 255, 0.5);
}
.menuItem button 
{
    font-family: HandwrittenFont;
    font-size: large;   
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 12px;
    width: 95px;
    letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.6);
}
.menuItem button:hover
{

    background-color: rgba(255, 255, 255, 1);
}

.menuItem img
{
    border: 5px solid black;
    max-width: 235px;
    max-height: 235px;
    border-width: 4px;
}
.menuItem h3
{
    font-size: 22px;
}
.menuItem p
{
    text-align: justify;;
}

.WelcomePage div
{
    position: relative;
    top: 35%;
    padding: 25px;
    margin: auto;
    width: 350px;
    height: 65px;
    text-align: center;
    padding-bottom: 15px;
    color: Black;
    background-color: rgba(255, 255, 255, 0.5);
}
footer
{
    text-align: center;
    position: relative;
    bottom: 1%;
}
footer p
{
    display: block;
    text-align: center;
    margin: 0;
    display: flex;
    position: relative;
    align-self: center;
    color: white;
}

.Order
{

    color: white;
}
.OrderContainer
{
    position: relative;
    padding: 35px;
    margin: auto;
    width: 70%
}
.orderTitle
{
    position: relative;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}

#OrderList
{
    position: relative;
    width: 100%;
    border: 2px solid white;
    border-collapse: collapse;
}
#OrderList,th,td
{
    border: 2px solid white;

}

#OrderList td
{
    background-color: gray;
    text-align: center;
}

#TotalPrice
{
    letter-spacing: 1.5px;
    font-size: 19px;
    font-style:bold;
}

#TotalAmountLabel
{

}

@font-face
{
    font-family: 'HandwrittenFont';
    src: url(/fonts/ShadowsIntoLightTwo-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}